<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 offset-sm-4 text-right">
        <button type="button" class="btn btn-sm btn-outline-primary v-align-center"><mat-icon>add_circle_outline</mat-icon> {{ 'Entities_Page.Add_Entity' | translate }}</button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-sm-12"></div>
    </div>
    <p>entity-list works!</p>
  </div>
</div>
