<ng-container [ngSwitch]="messageType">
  <h3 *ngIf="messageTitle">{{messageTitle}}</h3>
  <ng-container *ngSwitchCase="'success'">
    <span>
      <strong *ngIf="extraInfo" class="snackbar-success">{{'SnackBar.Success_Title' | translate}}</strong> {{message}}
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="'error'">
    <span>
      <strong *ngIf="extraInfo" class="snackbar-error">{{'SnackBar.Error_Title' | translate}}</strong> {{message}}
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="'warn'">
    <span>
      <strong *ngIf="extraInfo" class="snackbar-warn">{{'SnackBar.Warning_Title' | translate}}</strong> {{message}}
    </span>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <span>
      <strong *ngIf="extraInfo" class="snackbar-info">{{'SnackBar.Info_Title' | translate}}</strong> {{message}}
    </span>
  </ng-container>
</ng-container>
